/* Variables */
:root {
  --header-shop-btn-color: rgb(230, 126, 34);
  --header-browse-btn-color: rgb(52, 73, 94);
  --header-shop-btn-color-hovered: rgba(230, 125, 34, 0.9);
  --header-browse-btn-color-hovered: rgba(52, 73, 94, 0.9);
  --shop-linear-gradient: to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6);
}

/* Basic Setup */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  height: 300vh;
}
/* Header Styling */
header {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/hero-image-opt.jpg");
  height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.burger-menu-toggled {
  flex-direction: column;
  width: 30rem;
  height: 100%;
  display: flex !important;
  background-color: #fff;
  padding: 2rem;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 2;
}
.burger-menu-toggled li {
  color: gray;
}
.burger-toggled .header__burgerStroke {
  background-color: gray;
}
.burger-toggled .header__burgerStroke:nth-child(1) {
  transform: translateY(1.1rem) rotate(40deg);
}
.burger-toggled .header__burgerStroke:nth-child(2) {
  transform: translateX(-4rem);
  opacity: 0;
}
.burger-toggled .header__burgerStroke:nth-child(3) {
  transform: translateY(-1.9rem) rotate(-43deg);
}
.header__burger {
  position: absolute;
  top: 3rem;
  right: 5rem;
  cursor: pointer;
  z-index: 3;
}
.header__burgerStroke {
  display: block;
  width: 5rem;
  height: 0.5rem;
  background-color: #fff;
  margin: 1rem;
  transition: transform 0.4s, opacity 0.4s;
  border-radius: 0.5rem;
}
.header__navLinks {
  display: none;
  justify-content: space-around;
  padding-top: 5rem;
}

li {
  list-style: none;
  cursor: pointer;
  color: #fff;
  padding: 0 4rem;
}

.header__logo {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: -9rem;
  left: 5rem;
}

.header__contentWrapper {
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 6rem;
  width: 54rem;
}
.header__content {
  line-height: 7rem;
}
.header__buttonsWrapper {
  position: absolute;
  bottom: 10rem;
  display: flex;
  justify-content: center;
  left: 5rem;
}
.header__button {
  padding: 1rem;
  border-radius: 5rem;
  width: 20rem;
  text-align: center;
  cursor: pointer;
  margin: 0 1rem;
  transition: background-color 400ms;
}
.btn-shop {
  background-color: var(--header-shop-btn-color);
}

.btn-browse-car {
  background-color: var(--header-browse-btn-color);
}
.btn-shop:hover {
  background-color: var(--header-shop-btn-color-hovered);
}
.btn-browse-car:hover {
  background-color: var(--header-browse-btn-color-hovered);
}

/* Header Media Queries */

/* Extra small devices (phones, 600px and down) */

@media (max-width: 420px) {
  .header__contentWrapper {
    width: 20rem !important;
  }
  .header__content {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }
  .header__buttonsWrapper {
    flex-direction: column;
  }
  .header__button {
    margin: 0.7rem;
  }
  .header__logo {
    width: 20rem;
    height: 20rem;
    top: -4rem;
    left: -1rem !important;
  }
  .header__burger {
    right: 1rem;
  }
}

@media (max-width: 600px) {
  .header__contentWrapper {
    width: 35rem;
  }
  .header__content {
    font-size: 4rem;
    line-height: 5rem;
  }
  .header__button {
    width: 15rem;
    padding: 0.7rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .header__content {
    font-size: 5rem;
    line-height: 6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .header__content {
    font-size: 6rem;
    line-height: 7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
  .header__navLinks {
    display: flex;
  }
  #shop-link {
    margin-left: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    background-image: linear-gradient(
        100deg,
        rgba(0, 0, 0, 0.7) 50%,
        rgba(0, 0, 0, 0.5) 50%
      ),
      url("./img/hero-image-opt.jpg");
  }
}

.shop__heading {
  font-size: 3rem;
  margin: 3rem;
}
.shop__product {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
  color: #ecf0f1;
}
.shop__product img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  transition: transform 0.4s;
}
.shop__product img:hover {
  transform: scale(1.2);
}
.shop__productWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(40rem, 100%);
  gap: 2rem;
}
.util-product-content {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.shop__product__name {
  text-transform: capitalize;
  font-size: 3rem;
}

.shop__product__price {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  padding: 1rem;
}
.shop__product__buttonWrapper {
  position: absolute;
  width: 100%;
  bottom: 2rem;
}
.shop__product__button {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--header-shop-btn-color);
  color: #000;
  width: 20rem;
  margin: 0 auto;
}
