/* Variables */
:root {
  --header-shop-btn-color: rgb(230, 126, 34);
  --header-browse-btn-color: rgb(52, 73, 94);
  --header-shop-btn-color-hovered: rgba(230, 125, 34, 0.9);
  --header-browse-btn-color-hovered: rgba(52, 73, 94, 0.9);
  --shop-linear-gradient: to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6);
}

/* Basic Setup */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  padding: 3rem;
}
/* Header Styling */
header {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/hero-image-opt.jpg");
  height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.burger-menu-toggled {
  flex-direction: column;
  width: 30rem;
  height: 100%;
  display: flex !important;
  background-color: #fff;
  padding: 2rem;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 2;
}
.burger-menu-toggled li {
  color: gray;
}
.burger-toggled .header__burgerStroke {
  background-color: gray;
}
.burger-toggled .header__burgerStroke:nth-child(1) {
  transform: translateY(1.1rem) rotate(40deg);
}
.burger-toggled .header__burgerStroke:nth-child(2) {
  transform: translateX(-4rem);
  opacity: 0;
}
.burger-toggled .header__burgerStroke:nth-child(3) {
  transform: translateY(-1.9rem) rotate(-43deg);
}
.header__burger {
  position: absolute;
  top: 3rem;
  right: 5rem;
  cursor: pointer;
  z-index: 3;
}
.header__burgerStroke {
  display: block;
  width: 5rem;
  height: 0.5rem;
  background-color: #fff;
  margin: 1rem;
  transition: transform 0.4s, opacity 0.4s;
  border-radius: 0.5rem;
}
.header__navLinks {
  display: none;
  justify-content: space-around;
  padding-top: 5rem;
}

li {
  list-style: none;
  cursor: pointer;
  color: #fff;
  padding: 0 4rem;
}

.header__logo {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: -9rem;
  left: 5rem;
}

.header__contentWrapper {
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 6rem;
  width: 54rem;
}
.header__content {
  line-height: 7rem;
}
.header__buttonsWrapper {
  position: absolute;
  bottom: 10rem;
  display: flex;
  justify-content: center;
  left: 5rem;
}
.header__button {
  padding: 1rem;
  border-radius: 5rem;
  width: 20rem;
  text-align: center;
  cursor: pointer;
  margin: 0 1rem;
  transition: background-color 400ms;
}
.btn-shop {
  background-color: var(--header-shop-btn-color);
}

.btn-browse-car {
  background-color: var(--header-browse-btn-color);
}
.btn-shop:hover {
  background-color: var(--header-shop-btn-color-hovered);
}
.btn-browse-car:hover {
  background-color: var(--header-browse-btn-color-hovered);
}

/* Header Media Queries */

/* Extra small devices (phones, 600px and down) */

@media (max-width: 420px) {
  .header__contentWrapper {
    width: 20rem !important;
  }
  .header__content {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }
  .header__buttonsWrapper {
    flex-direction: column;
  }
  .header__button {
    margin: 0.7rem;
  }
  .header__logo {
    width: 20rem;
    height: 20rem;
    top: -4rem;
    left: -1rem !important;
  }
  .header__burger {
    right: 1rem;
  }
}

@media (max-width: 600px) {
  .header__contentWrapper {
    width: 35rem;
  }
  .header__content {
    font-size: 4rem;
    line-height: 5rem;
  }
  .header__button {
    width: 15rem;
    padding: 0.7rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .header__content {
    font-size: 5rem;
    line-height: 6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .header__content {
    font-size: 6rem;
    line-height: 7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
  .header__navLinks {
    display: flex;
  }
  #shop-link {
    margin-left: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    background-image: linear-gradient(
        100deg,
        rgba(0, 0, 0, 0.7) 50%,
        rgba(0, 0, 0, 0.5) 50%
      ),
      url("./img/hero-image-opt.jpg");
  }
}

.shop__heading {
  font-size: 3rem;
  margin: 3rem;
}
.shop__productWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40rem, 100%);
}
.shop__product {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
  color: #ecf0f1;
}
.shop__product img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  transition: transform 0.4s;
}
.shop__product img:hover {
  transform: scale(1.2);
}

.util-product-content {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.shop__product__name {
  text-transform: capitalize;
  font-size: 3rem;
}

.shop__product__price {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  padding: 1rem;
}
.shop__product__buttonWrapper {
  position: absolute;
  width: 100%;
  bottom: 2rem;
}
.shop__product__button {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--header-shop-btn-color);
  color: #000;
  width: 20rem;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .shop__productWrapper {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .shop__productWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.aboutus {
  display: flex;
}
.aboutus__contentWrapper {
  width: 50%;
  background-color: #2c3e50;
  height: 100%;
  line-height: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.aboutus__contentHeading {
  font-size: 4rem;
  padding: 2rem;
}
.aboutus__imageWrapper {
  width: 50%;
  height: 100%;
}
.aboutus__imageWrapper img {
  width: 100%;
  height: 100%;
}
.contact {
  background-image: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0.9) 50%,
      transparent 50%
    ),
    url("./img/contact-bg-opt.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(199, 199, 199);
}
.contact__formWrapper {
  width: 60%;
}
.contact h2 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-align: center;
  height: 4rem;
  padding-top: 2rem;
  width: 85%;
}
.form {
  padding-top: 5rem;
}
.form__inputWrapper {
  width: 90%;
  margin: 2rem auto;
}
.form__input {
  width: 70%;
  padding: 1.5rem;
  display: block;
  margin: 1rem;
  border: none;
  outline: none;
}
.form__submitWrapper {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.form__submit {
  padding: 1.5rem;
  border-radius: 5rem;
  width: 17rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #d35400;
  color: #fff;
}
.form__inputMessage {
  height: 11rem;
  max-width: 70%;
  max-height: 11rem;
}
@media (max-width: 900px) {
  .contact {
    width: 100%;
    background-image: linear-gradient(
        100deg,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0%
      ),
      url("./img/contact-bg-opt.jpg");
  }
  .contact__formWrapper {
    width: 100%;
    border: none;
  }
  .contact h2 {
    width: 100%;
  }
  .form__input {
    width: 90%;
    margin: 1rem auto;
  }
  .form__inputMessage {
    max-width: 100%;
  }
  .form__submitWrapper {
    width: 90%;
  }
}
.footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 3rem;
}

.footer__navLinks {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  padding: 2rem;
}
.footer__navLinks li {
  border: 1px solid;
  width: 30rem;
  margin: 1rem;
  padding: 2rem;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s;
}
.footer__navLinks li:hover {
  background-position: left bottom;
  color: grey;
}
.footer__copyright {
  font-size: 2.5rem;
  text-align: center;
}
.footer__warning {
  margin: 4rem auto;
  width: 45%;
  color: #ecf0f1;
}
@media (max-width: 600px) {
  .footer__navLinks {
    flex-direction: column;
    align-items: center;
  }
}
.util-article-style {
  width: 80vw;
  height: 80vh;
  margin: 15rem auto;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.108);
  border-radius: 0.4rem;
}
